**/.vscode/*
**/.idea/*
**/doxygen/html/**
compile_commands.json
# PlatformIO build folders
**/.pio
# Compiled files
*.o
*.a
*.bin
*.hex
*.elf
**/build/
**/.DS_Store
**/build/*
**/install/*
**/log/*
**/doxygen/html/** 
**/bags/*
*.bag
*.db3
*.pcd
compile_commands.json
.clang-format